<section class="banner">

  <img src="{{ site.author.image | prepend: site.baseurl  }}" alt="author thumb" class="dot animated hinge fadeInDown">

  <h2 class="animated hinge fadeInDown" itemscope itemtype="http://schema.org/Person">Hello, my name is <strong itemprop="name">{{ site.name }}</strong>I am a <em itemprop="jobTitle">Game-Programmer</em> and like math!</h2>

  <nav class="actions">
    <a href="{{ "/about" | prepend: site.baseurl }}" class="button ghost">About</a>
  </nav>

</section>
