<header class="header{% if page.slug == 'home' %} alt{% endif %}">
  <div class="container">
    <h1><a href="{{ "/" | prepend: site.baseurl }}"><strong>GameTuts</strong>.io</a></h1>
    <nav class="navbar">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}"><i class="fas fa-home"></i></a></li>
        <li><a href="{{ "/projects/index.html" | prepend: site.baseurl }}">Projects</a></li>
        <li><a href="#!" data-modal="modalSearch"><i class="fa fa-search"></i></a></li>
      </ul>
    </nav>
  </div>
</header>
