<nav class="pagination" role="pagination">

  {% if !paginator.next_page %}
    <a class="newer-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Articles new">Next &raquo;</a>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="older-posts" href="{{ "/" | prepend: site.baseurl }}" title="Articles new">&laquo; Previous</a>
    {% else %}
      <a class="older-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Articles old">&laquo; Previous</a>
    {% endif %}
  {% endif %}

  {% for cur_page in (1..paginator.total_pages) %}
    {% if cur_page != 1 and paginator.page != cur_page %}
      <a class="paginate-numbers" href="{{ site.baseurl }}/page/{{ cur_page }}">{{ cur_page }}</a>
    {% endif %}
    {% if cur_page != paginator.page and cur_page == 1 %}
      <a class="paginate-numbers" href="{{ '/' | prepend: site.baseurl }}">{{ cur_page }}</a>
    {% endif %}

    {% if paginator.page == cur_page %}
      <p class="paginate-current-number">{{ cur_page }}</p>
    {% endif %}
  {% endfor %}

</nav>
