---
layout: default
disqus: false
archive: false
post_class: post-template
slug: single
comments: true
---

<article class="post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

  {{content}}

  {% include newsletter.html %}

  <footer class="post-footer">
    {% if page.author %}
    <section class="author">
      <h4><img src="/assets/authors/{{ page.author }}.jpg" class="author-profile-photo" />{{ page.author }}</h4>
      <p>{{ page.bio }}</p>
    </section>
    {% else %}
    <section class="author">
      <h4><img src="/assets/images/profile.jpg" class="author-profile-photo" />{{ site.author.name }}</h4>
      <p>{{ site.author.bio }}</p>
    </section>
    {% endif %}

    {% include share.html %}


    {% if site.comments and page.comments %}
      {% include comments.html %}
    {% endif %}

  </footer>

</article>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"1077b9b4eaf8753654f61d88a","lid":"07dc984c06"}) })
</script>
